header {
    width: 100%;
    height: 800px;
}

.table {
    justify-content: center;
  margin-top: 25px;

    display: flex;
    flex-wrap: wrap;
    
  }
  .table div{
    flex: 0 0 25%;
    padding: 1.5rem;
  }


.tabled {
  background-color: black;
  width: 320px;
    height: 350px;
    margin-top: 15px;
}

.tabled:hover {
    transform: rotate(2deg);
}
