nav {
    width: 100%;
    height: 700px;
    
    background-image: url(../../assens/header.jpg);
    background-size: 100% 700px;
}

.logo {
    width: 90px;
    background-color: rgb(122, 29, 29);
    border-radius: 100px;
text-align: center ;
    

}

.pet {
    color: #aa064b;

}

.shop {
    color: #429595;
}


.top-menu p {
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 300px;
    float:left ;
}
.top-menu ul li {
    list-style: none;
    text-align: center;
    margin-top: 15px;
}

.top-menu ul li a {
    float: left;
    width: 150px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: rgb(151, 19, 19);
    height: 40px;
    cursor: pointer;
}

.nav{
    float: center;
}

.top-menu ul li a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    background-color: rgb(80, 81, 99);
    color: black;
    border-radius: 15px;
}                                   
