footer{
width: 100%;
height: 80px;
margin-top: 10px;
}
.row{
    background-color: cadetblue;
    font-size: 14px;
    font-weight: auto;
    color: black;
    display: flex;
}
.row ul li {
    list-style: none;
}
