footer{
margin-top: 1000px;
width: 100%;
height: 80px;

}
.row{
    background-color: cadetblue;
    font-size: 14px;
    font-weight: 600;
    color: black;
    display: flex;
}
.row ul li {
    list-style: none;
}
